@use "variables" as *;

// mixins to take care of repeated patterns.// this is alice
// @mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
//   font-family: $font;
//   font-size: $size;
//   line-height: $line-height;
// }

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin set-width-height($width: 2em, $height: auto) {
  width: $width;
  height: $height;
}

// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  background-color: black;
  display: inline-block;
  color: $h1-color;
  font-family: $fonts-heading1;
}
//anything in green is an undecided color
h2 {
  color: rgb(0, 172, 0);
  font-family: $fonts-heading2;
}

h3 {
  color: rgb(0, 255, 0);
  font-family: $fonts-heading3;
}

p {
  font-family: $fonts-paragraph;
}

a:link {
  color: $alink;
  text-decoration: none;
}

a:hover {
  color: $ahover;
}
