@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Quantico:ital,wght@1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

$fonts-heading1: "Orbitron", sans-serif;
$fonts-heading2: "Quantico", sans-serif;
$h2weight: 700;
$h2style: italic;
$fonts-heading3: "Quantico", sans-serif;
$fonts-paragraph: "VT323", monospace;
$background-color: #29375c;
$h1-color: white;
$h2-color:#aeaeae;
$h3-color:black;
$primary: black;
$accent1: #b5d7ff;
$alink: #aeaeae;
$ahover: #bc3f3f;
