@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
$fonts-heading1: 'Orbitron', sans-serif;;
$fonts-paragraph:'VT323', monospace;
$background-color: #aeaeae;
$h1-color:white;
$primary: black;
$accent1: #B5D7FF;
$alink: #29375C;
$ahover: #BC3F3F;