@use "variables" as *; //this puts all the variables in the global namespace.
// @use 'atoms';
//@use 'molecules';
//@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-image: url("stars-gif.gif");
}

body {
  background-image: url("background-img.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
section {
  background-color: transparent;
}
.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-rows: 1fr;
  border: 1px solid black;
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    height: inherit;
    width: 60rem;
    display: contents;

    header {
      text-align: center;
    }
    .summary {
      border: 1px solid black;
      height: 175px;
      width: 300px;
      text-align: center;
      padding: 10px;
      grid-column: 1;
      grid-row: 1;
      transform: skewY(-10deg);
      font-size: 16px;
      margin-bottom: 25px;
      background-color: $accent1;
    }
    .preamble {
      border: 1px solid black;
      height: 150px;
      width: 300px;
      overflow-y: scroll;
      text-align: center;
      padding: 10x;
      grid-column: 1;
      grid-row: 2;
      background-color: $accent1;
    }
  }
}

#zen-supporting {
  border: 1px solid black;
  height: 150px;
  width: 300px;
  overflow-y: scroll;
  grid-column: 3;
  grid-row: 2;
  background-color: $accent1;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  margin-top: -50px;
}

.sidebar {
  border: 1px solid black;
  height: 175px;
  width: 275px;
  overflow-y: scroll;
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  padding: 10px;
  background-color: $accent1;
  transform: skewY(10deg);
  font-size: 16px;
  margin-top: 125px;
  margin-left: 150px;
}
@media screen and (max-width: 900px) {
  body {
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .page-wrapper {
    display: block;
  }

  .summary {
    transform: none;
    width: 90%;
    margin: auto;
  }

  header {
    margin-bottom: 80vh;
  }
} ;
