@use "variables" as *; //this puts all the variables in the global namespace.
// @use 'atoms';
//@use 'molecules';
//@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  padding: 5%;
  background-image:url("background-dash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

body {
  font-size: 85%;
  
  margin: 0;
  padding: 1em;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  border: 1px solid black;
  height: 125vh;
}

.summary {
  border: 1px solid black;
  height: 150px;
  width: 200px;
  text-align: center;
  padding: 10px;
}

.preamble {
  border: 1px solid black;
  height: 150px;
  width: 300px;
  overflow-y: scroll;
  text-align: center;
  padding: 10x;
}

#zen-supporting {
  border: 1px solid black;
  height: 150px;
  width: 300px;
  overflow-y: scroll;
  grid-column: 3;
  grid-row: 2;
  background-color: $accent1;
  text-align: center;
  padding: 10px;
}
