@use "variables" as *; //this puts all the variables in the global namespace.
// @use 'atoms';
//@use 'molecules';
//@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-image: url("stars-gif.gif");
  }


body {
  background-image: url("background-img.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;

  height: 100%;
}
section{
  background-color: transparent;
}
.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  border: 1px solid black;
  height:125vh;
}

.summary {
  border: 1px solid black;
  height: 150px;
  width: 200px;
  text-align: center;
  padding: 10px;
}

.preamble {
  border: 1px solid black;
  height: 150px;
  width: 300px;
  overflow-y: scroll;
  text-align: center;
  padding: 10x;
}

#zen-supporting {
  border: 1px solid black;
  height: 150px;
  width: 300px;
  overflow-y: scroll;
  grid-column: 3;
  grid-row: 2;
  background-color: $accent1;
  text-align: center;
  padding: 10px;
}
